<form fxLayout="column" [formGroup]="formGroup">
  <p>Nuevo Usuario</p>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="nombre" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Apellido</mat-label>
    <input type="text" matInput formControlName="apellido" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Direccion</mat-label>
    <input type="text" matInput formControlName="direccion" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Provincia</mat-label>
    <input type="text" matInput formControlName="provincia" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Distrito</mat-label>
    <input type="text" matInput formControlName="distrito" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wallet</mat-label>
    <input type="text" matInput formControlName="wallet" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="formGroup.invalid"
    (click)="enviar()"
  >
    Crear
  </button>
</form>
