<form fxLayout="column" [formGroup]="formGroup">
  <p>Nuevo Usuario</p>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="marca" />
    <mat-error *ngIf="formGroup.controls['marca'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Apellido</mat-label>
    <input type="text" matInput formControlName="modelo" />
    <mat-error *ngIf="formGroup.controls['modelo'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Direccion</mat-label>
    <input type="text" matInput formControlName="tipo" />
    <mat-error *ngIf="formGroup.controls['tipo'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Provincia</mat-label>
    <input type="text" matInput formControlName="color" />
    <mat-error *ngIf="formGroup.controls['color'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Distrito</mat-label>
    <input type="text" matInput formControlName="vin" />
    <mat-error *ngIf="formGroup.controls['vin'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wallet</mat-label>
    <input type="text" matInput formControlName="walletprop" />
    <mat-error *ngIf="formGroup.controls['walletprop'].hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="formGroup.invalid"
    (click)="enviar()"
  >
    Crear
  </button>
</form>
