<div>
  <div fxLayout fxLayoutAlign="space-around center">
    <h1>DAPP TRANSFERENCIA DE PROPIEDAD VEHICULAR</h1>
  </div>

  <div fxLayout fxLayoutAlign="space-around center">
    <div routerLinkActive="activeLink">
      <a routerLink="/usuario">
        <button mat-button class="ms-3">Usuario</button>
      </a>
    </div>
    <div routerLinkActive="activeLink">
      <a routerLink="/vehiculo">
        <button mat-button class="ms-3">Vehiculo</button>
      </a>
    </div>
    <div routerLinkActive="activeLink">
      <a routerLink="/compraventa">
        <button mat-button class="ms-3">Compra Venta</button>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
